body {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    background-color: #FFF2D8;
    
}
.wholeScreen{
    height: 100vh;
    width: 100vw;
}

.container{
    background-color: #EAD7BB;
    margin: 20px auto;
    padding: 20px;
    max-width: 40vw;
    height:90vh;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #333;
}



.converter {
    display: flex;
    flex-direction: column;
}

label, input, span {
    margin: 10px 0;
}

input {
    
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: purple;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color:plum;
}
.image{
    height: 20vh;
    width: 20vh;
    
}

